@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Orbitron&family=Oxanium:wght@200&display=swap');

#calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.row, #buttons {
    display: flex;
}

#perimeter {
    padding: 16px;
    width: 400px;
    height: 600px;
    border: solid darkgray;
    border-radius: 15px;
    background-color: rgb(227	217	211	);
}

#display, button {
    margin: 8px;
}

#display {
    padding-left: 8px;
    padding-right: 8px;
    font-family: 'Oxanium', cursive;
    font-size: 64px;
    border: solid black;
    border-radius: 15px;
    text-align: right;
    color: rgb(69	151	246	);
    background-color: rgb(2	8	35);
}

button {
    font-size: 48px;
    border: 2px solid darkgray;
    box-shadow: none;
    background-color: rgb(224	196	192);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-family: 'DM Serif Display', serif;
    color: rgb(92	92	92	); 
}

#zero {
    width: 176px;
    height: 80px;
    border-radius: 40px;
}

#clear-button {
    width: 176px;
    height: 80px;
    border-radius: 40px;
}

#buttons {
    justify-content: center;
}

.click {
    background-color: darkgray;
}

.hover {
    border: 4px solid darkgray;
    font-size: 52px;
}