#calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.row, #buttons {
    display: flex;
}

#perimeter {
    width: 800px;
    height: 600px;
    border: solid black;
    border-radius: 15px;
}

#display, button {
    font-size: 32px;
    margin: 8px;
}

#display {
    border: solid black;
    border-radius: 15px;
    text-align: right;
}

button {
    border: 2px solid darkgray;
    box-shadow: none;
    background-color: lightgray;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

#zero {
    width: 176px;
    height: 80px;
    border-radius: 40px;
}

#clear-button {
    width: 160px;
}

#buttons {
    justify-content: center;;
}