.row {
    display: flex;
}

#buttons {
    display: flex;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#perimeter {
    width: 300px;
    height: 300px;
}

.clear-button {
    display: flex;
    flex: 1;
    justify-content: center;
}

#display, button {
    font-size: 32px;
}